# .gitignore for sccs-cygnet

# Junk files
*.pyc
*~
.DS_Store

# Ignore the actual deployment-specific settings.py file.
settings.py

# Ignore the actual data in /photos and /directories
/photos
/directories

# Ignore logs and old stuff, if they're there
/logs
/old



