# .gitignore for sccs-cygnet

# Junk files
*.pyc
*~
.DS_Store
*.swp

# Ignore the actual deployment-specific settings.py file.
settings.py

# and the dev database
/cygnet_dev.sqlite3

# Ignore the actual data in /photos and /directories
/photos
/directories

# Ignore logs and old stuff, if they're there
/logs
/old

# virtualenv
/virtualenv/.Python
/virtualenv/bin/
/virtualenv/include/
/virtualenv/lib/
/virtualenv/Readline*.egg/
