# .gitignore for sccs-cygnet

# Junk files
*.pyc
*~
.DS_Store
*.swp

# since the server is using ~ as the checkout we need to ignore some things that typically go in ~
.viminfo
.bash_history
.ipython/

# Ignore the actual deployment-specific settings.py file.
settings.py

# and the dev database
/cygnet_dev.sqlite3
/cygnet.log

# Ignore the actual data in /media as well as the copied static files
/photos
/media
/static

# Ignore logs and old stuff, if they're there
/logs
/old
/directories

# virtualenv
/virtualenv/.Python
/virtualenv/bin/
/virtualenv/include/
/virtualenv/lib/
/virtualenv/Readline*.egg/
