# Top-level .htaccess file for the Cygnet

# Just in case, we don't really want people indexing these directories.
Options -Indexes

# Tell Apache to handle backend.py as a CGI script.
<Files backend.py>
       SetHandler cgi-script
</Files>

RewriteEngine On

#Maintenance 
#RewriteCond %{REMOTE_ADDR} !^130\.58\.192\.43$
#RewriteCond %{REQUEST_URI} !/maintenance.html$ [NC]
#RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
#RewriteRule .* /maintenance.html [R=302,L]


# Don't provide access to the git repo from the installed clone.
RewriteRule ^.git.*$ - [R=404]

# (This skips the following hiding rule if the URI is exactly 'backend.py',
# so that the main script can run.)
RewriteRule ^backend.py$ - [skip=1]

# Rewrite all URIs ending in .py[c] to get 404ed so that people can't see
# the contents of settings.py or other private data in any python files.
RewriteRule \.pyc?$ - [R=404]
