body {
    margin:0;
    font-family:Verdana, Tahoma, sans-serif;
    font-size:smaller;
}

a, a:visited, a:active {
    color:#C0362C;
}

a:hover {
    color:red;
}

ul.InlineList, .InlineList li {
	display: inline;
	margin: 0;
	padding: 0;
}

.InlineList li:after {
	content: ", ";
}

.InlineList li:last-child:after {
	content: "."
}

div#banner {
    margin: 10px;
}

#banner td {
    font-size:0.75em;
}


div#footer {
    margin:10px;
    border-top:1px solid black;
    padding-top:5px;
}

#footer p {
    width:550px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

div#searchbar {
    width:100%;

    padding: 5px 0;
    text-align:center;
    background-color:#E4A173;
    
    border:4px solid #C0362C;
    border-width: 4px 0;
}

input#searchterms {
    height:20px;
    width:250px;
    border:1px solid black;
}

div#results {
    margin:10px;
}

#results table {
    border:1px solid lightgray;
    border-collapse:collapse;
    margin: 0 auto;
}

#results td {
    text-align:center;
    width:195px;
    border:1px solid lightgray;
    padding:4px 2px;
}

#responsetime {
	font-size: 80%;
	color: gray;
}


