asgiref==3.2.10
Django==3.1.1
django-auth-ldap==2.2.0
mysqlclient==2.0.1
Pillow==7.2.0
pkg-resources==0.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyldap==3.0.0.post1
python-ldap==3.3.1
pytz==2020.1
sqlparse==0.3.1
