@tailwind base;
@tailwind components;
@tailwind utilities;

/*global*/
body {
    overflow: none;
    background: #F1F1F1;
}

.bg {
    overflow-y: scroll;
    background: #F1F1F1;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/*footer.tsx*/
.most-height {
    min-height: 92dvh;
}

.footer-height {
    height: 8dvh;
}

/* nav.tsx */
.grad {
    background: linear-gradient(139.78deg, #46408A 22.6%, #7670BA 29.58%, #27A4AC 45.92%, #355CC0 63.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 600;
}

/* searchbar.tsx, filter.tsx */
.searchbar {
    outline: none;
    font-size: 1.2rem;
    min-width: 0;
}

.filterwindow {
    top: calc(100% + 20px);
    right: 0px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filterSelect select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /*outline: none;*/
    border: none;
    background: none;
    color: inherit;
    padding-left: 1rem;
    border-radius: 1000px;
}

.filterSelect {
    position: relative;
    display: inline-flex;
    border-radius: 1000px;
    background-color: white;
    border: #B9B9B9 solid 1px;
    cursor: pointer;
    min-height: 40px;
    height: 100%;
    width: 100%;
}

.filterSelect:hover {
    background-color: rgb(250, 250, 250);
}

.filterSelect:after {
    content: '\f078';
    display: block;
    font-size: 1rem;
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.filterButton {
    border: transparent solid 0.5px;
    background-color: #44608F;
    padding: 8px 30px;
    border-radius: 100px;
    color: white;
    outline: none;
    font-weight: 600;
    outline: none;
}

.filterButton:hover {
    background: #4668a3;
}

/* cardbody.tsx, card.tsx, userimage.tsx */
.rounded-lg {
    border-radius: 16px;
}

.gradBorder {
    border: 4px solid transparent;
    border-radius: 1000px;
    background:
        linear-gradient(to right, white, white),
        linear-gradient(to right, #27A4AC, #355CC0),
        linear-gradient(to top, #27A4AC, #355CC0);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.font-light {
    font-weight: 400;
}

.enlarge-properties {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
}

.enlarge-properties:hover {
    filter: invert(37%) sepia(15%) saturate(1655%) hue-rotate(179deg) brightness(91%) contrast(86%);
    cursor: pointer;
    transition: filter 0.1s;
    transition-timing-function: ease-in-out;
}

.cursor-pointer {
    cursor: pointer;
}

.text-selected {
    color: #44608F !important;
}

.ml-2 {
    margin-left: 2rem
}

.custom-spin {
    min-width: 150px;
    min-height: 150px;
}

.cyg-img-overlay {
    transition: .25s ease-in-out;
    opacity: 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: clip;
    display: inline-flex;
    place-items: center;
}

.cyg-img-container:hover .cyg-img-overlay {
    opacity: 1;
    background-color: rgba(53, 92, 192, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.cyg-img {
    overflow: clip;
    object-fit: cover;
    opacity: 1;
    height: auto;
    transition: .25s ease;
    backface-visibility: hidden;
    cursor: pointer;
}