/* CSS Stylesheet for the SCCS Cygnet */

/* GENERAL STYLE */

body {
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: smaller;
}

a, a:visited, a:active {
	color: #31425f;
}

a:hover {
	color: #0066FF;
}


/* HEADER SECTION */

#banner {
    margin: 10px;
}

#logo {
    width: 315px;
    height: 60px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

#banner-text {
    margin-left: 340px;
    color: gray;
}

#advanced {
    display: none;
}

#login_details {
    float: right;
    margin-right: 8px;
    margin-bottom: 5px;
    margin-top: 1px;
}

/* SEARCH BAR SECTION */

#searchbar {
    width: 100%;
    clear: both;
    padding: 10px 0;
    text-align: center;
    border: 4px solid #425b86;
    border-width: 4px 0;
    background-color: #31425f;
}

#searchbar form {
    width: 300px;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 2px;
}

#searchbar form input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    height: 100%;
    width: 100%;
    float: left;
}

#spinner-box {
    float: right;
    position: relative;
    left: 5px;
    width: 0px;
    height: 100%;
}

#spinner-box img {
    padding: 4px 0;
}

#spinner {
    display: none;
}

#responsetime {
	font-size: 80%;
	color: #425b86;
}

/* CONTENT */

#content {
  padding-left: 10px;
  padding-right: 10px;
  margin-left:  auto;
  margin-right: auto;
  text-align: center;
}

#content table {
  margin-left:  auto;
  margin-right: auto;
}

/* RESULTS SECTION */

#results {
    text-align: center;
    margin: 1em auto 0;
}

#results table {
    border:1px solid lightgray;
    border-collapse: collapse;
    margin: 0 auto;

    -webkit-animation: fadein 1s; /* Safari and Chrome */
       -moz-animation: fadein 1s; /* Firefox */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera */
            animation: fadein 1s;

}

#results td {
    text-align: center;
    width: 195px;
    border: 1px solid lightgray;
    padding: 4px 2px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​




/* FOOTER SECTION */

#footer {
    margin: 10px auto;
    padding-top: 5px;
    text-align: center;
    width: 550px;
}


/* MISCELLANEOUS */

ul.InlineList, .InlineList li {
    display: inline;
    margin: 0;
    padding: 0;
}

.InlineList li:after {
    content: ", ";
}

.InlineList li:last-child:after {
    content: "."
}

div.clearer {
    clear: both;
    height: 0;
}
