<!DOCTYPE html>
<html>
<head>
  <title>The Cygnet (by SCCS)</title>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-71735307-2', 'auto');
    ga('send', 'pageview');
  
  </script>
  <script type="text/javascript" src="{{STATIC_URL}}client.js"></script>
  <script  src="{{STATIC_URL}}jquery.js"></script>
  <link rel="stylesheet" href="{{STATIC_URL}}cygnet.css" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}images/favicon.png" />
</head>

<body>
  <div id="top_spacer">
  </div>

  
  <div id="banner">
    <img id="logo" src="{{STATIC_URL}}images/cygnet-banner.png" alt="The SCCS Cygnet" />
    <div id="banner-text">
      The online Cygnet is a service of the
      <a href="http://www.sccs.swarthmore.edu/">Swarthmore College Computer Society</a>.
      Please use it responsibly or the site may be taken down.
      Send questions, bug reports, replacement pictures
      and removal requests to the SCCS Staff
      at <a href="mailto:staff@sccs.swarthmore.edu">staff@sccs.swarthmore.edu</a>.
      <strong>Advanced Options and Privacy Statement</strong>: <a id="toggle-advanced" href="#" onClick="javascript:toggleAdvanced()"
			   title="Show advanced search options">click to show</a>.
      <div id="advanced" style="display: none">
	<br/>
	<strong>Privacy Statement:</strong>
	SCCS is committed to protecting students' privacy. This is why we have partnered with
	the college's Information Technology Services (ITS) on this version of the Cygnet: 
	Student data is now supplied via a regularly updated ITS database. If you wish to remove
	or alter your information, you now have additional options which are outlined 
	<a href="http://www.sccs.swarthmore.edu/?page_id=752">here</a>.
	<br/>
	<strong>Advanced searching:</strong>
	You can do a more specific search by using keywords in the search box.
	An advanced search might look like, "first:matt dorm:mertz",
	which would return everyone named Matt who lives in Mertz.
	The accepted keywords are:
	<ul class="InlineList">
	  <li>first</li>
	  <li>last</li>
	  <li>year</li>
	  <li>email</li>
	  <li>dorm</li>

	</ul>
	<br/>
	 <strong>Important:</strong>The dorm keywords are as follows:
        <ul class="InlineList">
          <li>To search for Alice Paul use <strong>AP</strong></li>
          <li>To search for Mary Lyon use <strong>ML</strong></li>
          <li>To search for David Kemp use <strong>DK</strong></li>
          <li>To search for Strath Haven use <strong>Strath</strong></li>
        </ul>
	All other dorms are searchable by their normal full name.
      </div>
    </div>
    <div id="login_details">
        {% if user.is_authenticated %}
            logged in as {{user}}
            (<a href="{% url "logout" %}">log out</a>)
        {% endif %}
    </div>
  </div>

  <div id="searchbar">
    {% block searchbar %}
    {% endblock %}
  </div>
  <div id="content">
    {% block content %}
    <div id="results">
        {% block results %}
        {% endblock %}
    </div>
    {% endblock %}
  </div>

  <div id="footer" style="display: none;">
    <p>
      <strong>Tip:</strong> you can bookmark
      <a id="bookmarkurl" href="/">this link</a> to repeat this search.
    </P>
  </div>
</body>
</html>


